extends layout

block content

  nav.navbar.navbar-default.navbar-fixed-top
    //navbar-static-top
    .container
      .navbar-header
        .navbar-brand Heart-to-hearts
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/hearts') My heart-to-hearts
          li
            a(href='/home') My account
          li
            a(href='/questions') Questions
          li
            .navbar-btn#btn-logout.btn.btn-default
              | Sign Out
      //ul.nav.navbar-nav.navbar-right
      //  li
      //    .navbar-btn#btn-logout.btn.btn-default
      //      | Sign Out
  // preset form values if we receive a userdata object //
  - user = typeof(udata) != 'undefined' && udata != null ? udata : { }
  // store the userId on the client side in a hidden input field //
  input(type='hidden', value= user._id)#userId

  #account-form-container.center-vertical
    form(method="post")#account-form.form-horizontal.well
      h1 Welcome, 
        = user.name
        text !
      hr

      if user.matched
        p You are currently matched with...
        center
          div(class='person',idn= user.current)
        p Get in touch and schedule a meal and conversation (or other activity) together sometime this coming week. 
        p
          a(href='/finish') We finished our heart-to-heart.
        p
          a(href='/skip') We decided to skip our heart-to-heart.
        if user.onBreak
          p You will not be automatically re-matched when you finish your conversation.
          a(href='/resume') Turn on re-matching.
        else
          p You will be automatically re-matched when you finish your conversation.
          a(href='/break') Turn off re-matching.
      else
        if user.onBreak
          p Your account is de-activated.
          a(href='/resume') Activate.
        else
          p You are not currently matched with anyone. We will email you for your next heart-to-heart!
          a(href='/break') Turn off rematching.
      //TODO: when not matched, "match me"
      //When matched, "finish", "skip" ("Are you sure?")

      // = user.currentName
      if user.past.length > 0
        p Your past matches are...

      ul.heart
        for id in user.past || []
          li
            div(class='person',idn=id)

      if user.excluded.length > 0
        p Skipped: (click X to un-skip)
        //You have chosen not to be matched with...
      
      ul
        for id in user.excluded || []
          li
            text(class='person',idn=id)
            - conc = "".concat('/include/?id=',id)
            text  
            a(href=conc) X
            
block scripts
  script(src='/vendor/jquery-2.2.3.min.js')
  script(src='/vendor/jquery.form.min.js')
  script(src='/vendor/bootstrap.min.js')
  //script(src='/js/views/login.js')
  //script(src='/js/controllers/loginController.js')
  //script(src='/js/form-validators/loginValidator.js')
  //script(src='/js/form-validators/emailValidator.js')
  script(src='/js/views/hearts.js')
  //for logout
  script(src='/js/views/home.js')
  script(src='/js/controllers/homeController.js')